# Exploratory Data Analysis of Historical Air Quality Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("../data/Historical_Air_Quality_Sensor_Data.csv")

In [4]:
data.describe()

,NOx,NO,NO2,CO,PM10,O3,Ward,Lower Layer Super Output Areas (LSOA),Output Areas (OA),Middle Layer Super Output Areas (MSOA),Boundary
count,204748.000000,204748.000000,204748.000000,171331.000000,96845.000000,105941.000000,310689.000000,310689.000000,310689.000000,310689.000000,310689.0
mean,108.056018,41.258803,45.118587,0.603782,26.934487,20.647949,34.154112,77.512854,236.822575,8.799333,1.0
std,109.944745,56.571399,28.381653,0.481043,16.881547,11.965282,1.253155,42.395154,208.379072,2.362927,0.0
min,-3.600000,-2.600000,-3.700000,-0.300000,-2.800000,-0.663000,32.000000,20.000000,12.000000,6.000000,1.0
25%,36.500000,7.100000,23.500000,0.300000,15.900000,11.812500,34.000000,20.000000,12.000000,7.000000,1.0
50%,71.300000,19.900000,39.800000,0.500000,23.400000,20.676700,34.000000,103.000000,205.000000,9.000000,1.0
75%,142.400000,53.800000,61.400000,0.800000,34.000000,28.431500,35.000000,115.000000,492.000000,9.000000,1.0
max,1564.400000,893.200000,266.300000,7.000000,751.300000,108.433400,36.000000,115.000000,538.000000,13.000000,1.0

In [6]:
data.isna().sum() / len(data)

ID                                        0.000000
DateTime                                  0.000000
Sensor Location Name                      0.000000
Sensor Location Slug                      0.000000
Sensor Location                           0.000000
NOx                                       0.340987
NO                                        0.340987
NO2                                       0.340987
CO                                        0.448545
PM10                                      0.688290
O3                                        0.659013
Ward                                      0.000000
Lower Layer Super Output Areas (LSOA)     0.000000
Output Areas (OA)                         0.000000
Middle Layer Super Output Areas (MSOA)    0.000000
Boundary                                  0.000000
dtype: float64

In [13]:
data.head()

,ID,DateTime,Sensor Location Name,Sensor Location Slug,Sensor Location,NOx,NO,NO2,CO,PM10,O3,Ward,Lower Layer Super Output Areas (LSOA),Output Areas (OA),Middle Layer Super Output Areas (MSOA),Boundary
0,000028f9e7df56acb744d205b2807518,2006/09/16 10:00:00 PM,Royal Victoria Park,royalvicpark,"(51.386538, -2.372476)",NaN,NaN,NaN,NaN,NaN,7.5853,34,115,205,9,1
1,000042b563d6702d16d4757779809528,2011/10/27 12:00:00 AM,Bath Guildhall,guildhall,"(51.382219, -2.359034)",49.7,15.9,25.4,0.2,NaN,NaN,35,20,12,7,1
2,000080ec476fcbf25e7a38cc350eff67,2012/10/24 08:00:00 AM,Bath Guildhall,guildhall,"(51.382219, -2.359034)",300.8,145.1,79.0,0.5,NaN,NaN,35,20,12,7,1
3,00008666ffcbefe3cbe6ee3f0c0fa0eb,2013/05/13 11:00:00 AM,Windsor Bridge,windsorbridge,"(51.382246, -2.381608)",95.4,33.1,44.8,0.3,30.4,NaN,32,103,538,13,1
4,0000e565a2345eb4a95ed188f20478c4,2013/04/19 01:00:00 AM,Royal Victoria Park,royalvicpark,"(51.386538, -2.372476)",NaN,NaN,NaN,NaN,NaN,34.1972,34,115,205,9,1